"""Tests."""
import pytest

from part1 import something as something1
from part2 import something as something2


class TestPart1UnitTests:
    """."""

    @pytest.mark.parametrize("test_input, expected", [
        ('input', 'expect'),
    ])
    def test_something(self, test_input, expected):
        """."""
        pass


class TestPart2UnitTests:
    """."""

    @pytest.mark.parametrize("test_input, expected", [
        ('input', 'expect'),
    ])
    def test_something(self, test_input, expected):
        """."""
        pass
